
@{
    ViewBag.Title = "listaAgregados";
}


<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.js"></script>
    <link href="~/Content/Admisiones.css" type="text/css" rel="stylesheet" />
    <title>Lista de Agregados</title>
    @*<footer>
            <iframe src="~/Views/Home/Index.cshtml"></iframe>
        </footer>*@

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

        <!-- Links -->
        <ul class="navbar-nav ">
            <a class="navbar-brand " href="#">DICOM</a>

            <li class="nav-item ">
                <a class="nav-link" href="/Home/Index">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/CheckMessage">Check Mensaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salir</a>
            </li>
        </ul>

    </nav>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var persona in Model)
            {
                <tr>
                    <td>@persona.Codigo</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido</td>
                    <td>
                        <form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">Check para admitir paciente</label>
                            </div>
                        </form>
                    </td>

                </tr>

            }
        </tbody>

    </table>

    <div class="btn-group">
        <button id="btnActualizar" type="button" class="btn btn-outline-info btn-block">Actualizar Lista</button>

        <button id="btnAdmitir" type="button" class="btn btn-outline-warning btn-block">Admitir Paciente</button>



    </div>

</body>
</html>

